body{
	background-image: url("intro-bg.jpg"); 
	position: left-top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: "Avant Garde",Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

div{
	padding-left: 2%;
	text-align: left;
	font-size: 40;
	color: white;

}
h1{
	margin-top:1%;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	font-size: 75;
	letter-spacing: 2px;
	border-style: outset;
	border-width: 10px;
	color:white;
}
h2{
	text-align: center;
	color:white;
	font-size: 40;
	font-weight: lighter; 
	margin-bottom: 8%;
}
h3{
	text-align: center;
	color:white;
	font-size: 40;
	font-weight: lighter;
	margin-bottom: 7%;
}
#arrow{
	display:block;
	margin-left: 44%;
	margin-right: auto;
	width: 150px;
	margin-bottom: 20%;

}

/*input{
	font-size: 15;
}

button{
	font-size: 15;
}

select{
	font-size: 15;
}

option{
	font-size: 15;
<<<<<<< HEAD
}*/


#calculations{
	margin-bottom: 130px;
}
img.bulb{
 	display: block;
 	width:200px;
    margin-left: auto;
    margin-right: auto;
}
#poweredBy{
	text-align: center;
}

