/*#greyscale{
	width:100%;
	z-index: -1;
}*/
body{
	background-image: url("intro-bg.jpg"); 
	position: left-top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: "Avant Garde",Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
div{
	/*text-indent: 50px;*/
	padding-left: 2%;
	text-align: left;
	font-size: 30;
	color: white;

}
h1{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	font-size: 75;
	letter-spacing: 2px;
	border-style: outset;
	border-width: 10px;

}
h2{
	text-align: center;
	color:white;
	font-size: 30;
	font-weight: lighter; 
}
h3{
	text-align: center;
	color:white;
	font-size: 30;
	margin-bottom: 200px;
	font-weight: lighter;
}